# Housing clustering

**Step 0**: Import libraries and the dataset

In [ ]:
# Install the packages from here because requirments's file dose't wotk.

!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install sklearn

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as pyplot
import seaborn

import sklearn

In [5]:
url= 'https://raw.githubusercontent.com/4GeeksAcademy/k-means-project-tutorial/main/housing.csv'
df_raw = pd.read_csv(url)

**Step 1**: Explore the dataset

In [6]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [7]:
df_raw.sample(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
13630,3.7500,37.0,5.625310,1.004963,1175.0,2.915633,34.08,-117.33,0.952
3616,3.9167,28.0,3.675768,0.982935,1377.0,4.699659,34.26,-118.44,1.539
14862,2.6296,25.0,3.903226,1.095662,2359.0,2.624027,32.65,-117.09,1.500
5549,6.0190,42.0,5.702454,1.033742,813.0,2.493865,33.97,-118.38,2.945
753,3.8750,38.0,5.340102,1.038071,1039.0,2.637056,37.67,-122.07,1.653
1563,10.3345,5.0,8.740310,1.042636,876.0,3.395349,37.76,-121.93,4.614
12828,3.9853,24.0,6.081690,1.039437,1141.0,3.214085,38.70,-121.45,0.904
5411,4.5795,43.0,5.866667,1.025000,651.0,2.712500,34.01,-118.44,4.000
1683,4.6210,26.0,5.900474,1.012638,1708.0,2.698262,38.00,-122.31,1.911
6629,1.2891,18.0,4.122892,0.922892,1474.0,3.551807,34.16,-118.15,1.813

In [8]:
df_raw.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010